footer {
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: slategray;
  color: #b71f3a;
  text-align: center;
  height: 40px;
  border-style: outset;
  border-color: #9c9a9a;
}
